* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif; }

/* HEADER - MENU - LOGO INDEX*/
body nav {
  align-items: center;
  background-color: #F3F3F4; }

/*FOOTER SCSS*/
footer {
  width: 100%;
  background-color: #D9C5B2;
  padding: 20px; }
  footer div .containerDiv {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px; }
    footer div .containerDiv h1 {
      font-size: 22px;
      font-weight: bold; }
    footer div .containerDiv a {
      text-decoration: none;
      color: #14110F; }
      footer div .containerDiv a:hover {
        color: #F3F3F4; }
    footer div .containerDiv label {
      color: #14110F; }
      footer div .containerDiv label:hover {
        color: #F3F3F4; }
  @media (max-width: 425px) {
    footer div .containerDiv {
      margin-left: 65px;
      margin-right: 0; }
    footer .containerDiv {
      flex-direction: column; }
    footer .columna3 {
      margin-top: 30px; } }
  @media (max-width: 375px) {
    footer div .containerDiv {
      margin-left: 60px;
      margin-right: 0; }
    footer .containerDiv {
      flex-direction: column; }
    footer .columna3 {
      margin-bottom: 30px; } }
