* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/* HEADER - MENU - LOGO RETRATOS */

.navbar .navbar-expand-lg {
    align-items: center;
}

.text {
    color: red;
}

.navbar {
    background-color: #F3F3F4;
}

form .btn:hover {
    color: #14110F;
    background-color: #D9C5B2;
    border-color: #D9C5B2;
}

form .btn {
    color: #14110F;
    border-color: #D9C5B2;
}

/* END HEADER - MENU - LOGO RETRATOS */

/* MAIN - RETRATOS*/

.main {
    background-color: #F3F3F4;
}

img {
    width: 100%;
}

.row {
    display: flex;
    padding: 2px;
    flex-wrap: wrap;
}

.column {
    flex: 25%;
    
}

.column img {
    margin-top: 5px;
}

@media (max-width: 800px) {
    .column {
        flex: 50%;
    }
}

@media (max-width: 600px) {
    .column {
        flex: 100%;
    }
}

/* END MAIN */



/* START FOOTER RETRATOS */
/* .footer {
    display: grid;
    height: 200px;
    align-items: center;
    background-color: #101935;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: "Google Facebook Instagram";
    font-size: 25px;
    animation-name: footerAnimation;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 6s;
}

@keyframes footerAnimation {
    0% {
        background-color: #38302a;
    }

    25% {
        background-color: #D9C5B2;
    }

    50% {
        background-color: #7E7F83;
    }

    75% {
        background-color: #34312D;
    }

    100% {
        background-color: #14110F;
    }
}


.div {
    display: flex;
    justify-content: space-around;
    grid-column: 2 / 9;
}

.div a {
    text-decoration: none;
    color: #F2FDFF;
    width: 100%;
}



@media (max-width: 375px) {
    .div {
        flex-direction: column;
        width: 100%;
        grid-column: 4 / 8;
    }
} */

/* END FOOTER */