body {

    nav {

        li {
            .nav-link{
                    color: $color-texto;

            }
        }

        img {
            transition: all 0.5s;


            &:hover {
                width: 60px;
                height: 60px;
            }
        }


    }

    div {
        .whatsapp {
            width: 50px;
            position: fixed;
            bottom: 20px;
            right: 10px;
        }
    }

    @media (max-width: 375px) {
        .whatsapp {
            margin-left: 10px;
        }
    }



}