body {
    
    nav {
        form .btn:hover {
            background-color: #D9C5B2;
            border-color: #D9C5B2;
        }
    
        .btn {
            border-color: #D9C5B2;
        }
    
        img {
            transition: all 0.5s;
    
    
            &:hover {
                width: 60px;
                height: 60px;
            }
        }
    
    
    }

    div {
        .whatsapp {
            width: 50px;
            position: fixed;
            bottom: 20px;
            right: 10px;
        }
    }

    @media (max-width: 375px) {
        .whatsapp {
            margin-left: 10px;
            }
        }


}   


