body {
    
    nav {
        form .btn:hover {
            background-color: #D9C5B2;
            border-color: #D9C5B2;
        }
    
        .btn {
            border-color: #D9C5B2;
        }
    
        img {
            transition: all 0.5s;
    
    
            &:hover {
                width: 60px;
                height: 60px;
            }
        }
    
    
    }

    div {
        .whatsapp {
            width: 70px;
            position: fixed;
            bottom: 10px;
            right: 10px;    
        }
    }
}   